*, *:before, *:after {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
	background: #d2d1d5;
}

a, a:visited {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.top {
	a {
		padding: 3px 10px;
		display: inline-block;
		width: 49%;
		&:last-child {
			padding: 0;
			text-align: right;
		}
	}
}


nav {
	background: #000;
	background: rgba(0,0,0,0.1);
	padding: 50px 10px;
	border-bottom: 5px solid rgba(0,0,0,0.1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	h1 {
		margin: 0;
		a {
			font-size: 0.35em;
			font-weight: normal;
		}
	}

	a {
		border: 2px solid white;
		padding: 5px 5px 3px;
		display: inline-block;
		&:hover {
			border-color: black;
			color: black;
		}
	}
}


#container, svg {
	display: block;
    margin: 0 auto;
    width: 100%;
}

.b path {
	fill: none;
}


#modalBackground, .modal {
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	display: none;
	text-align: center;
	&:before {
		height: 100%;
		content: '';
		vertical-align: middle;
		display: inline-block;
	}
	&.showing {
		display: block;
	}

	div {
		width: 50%;
		vertical-align: middle;
		display: inline-block;
		background: rgba(0, 0, 0, 0.8);
		color: #ddd;
		border-radius: 2px;
	}
}

