$white: #fff;

*, *:before, *:after {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
	background: #d2d1d5;
}

a, a:visited {
	text-decoration: none;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.wrap {
	&.blurry {
		-webkit-filter: blur(2px);
	}
}

.top {
	display: flex;
	justify-content: space-between;
	padding: 3px 10px;
}


nav {
	background: #BCBBC0;
	padding: 50px 10px;
	border-bottom: 5px solid #A8A8AB;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	h1 {
		margin: 0;
		line-height: 0.9;
		a {
			font-size: 0.35em;
			font-weight: normal;
		}
	}

	button {
		color: $white;
		border: 2px solid $white;
		padding: 5px 5px 3px;
		display: inline-block;
		position: relative;
		text-transform: uppercase;

		&:hover {
			border-color: black;
			color: black;
		}
	}
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.b path {
	fill: none;
}


.modal {
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	display: none;
	text-align: center;
	&:before {
		height: 100%;
		content: '';
		vertical-align: middle;
		display: inline-block;
	}
	&.showing {
		display: block;
	}

	div {
		width: 50%;
		vertical-align: middle;
		display: inline-block;
		background: rgba(0, 0, 0, 0.8);
		color: #ddd;
		border-radius: 2px;
		padding: 15px;
	}
}

